@import "tailwindcss";

#root {
  font-family: "Inter Tight", "Inter", "Helvetica", sans-serif;
}

/* UTILITY */

.enter {
  background-color: var(--color-violet-600) !important;
}
.backspace {
  background-color: var(--color-violet-600) !important;
}

.active {
  background-color: var(--color-zinc-500) !important;
}
.exist {
  border: var(--color-yellow-600) 2px solid !important;
  background-color: var(--color-yellow-600) !important;
}
.correct {
  border: var(--color-green-600) 2px solid !important;
  background-color: var(--color-green-600) !important;
}
.false {
  color: var(--color-zinc-500) !important;
  border: var(--color-zinc-900) 2px solid !important;
  background-color: var(--color-zinc-900) !important;
}

.key-correct {
  background-color: var(--color-green-600) !important;
}
.key-exist {
  background-color: var(--color-yellow-600) !important;
}
.key-false {
  background-color: var(--color-zinc-900) !important;
}
